body {
    background-color: #f2f6f9;
}

#header {
    color: #054f7c;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
    font-family: 'Righteous', cursive;
    font-size: 40pt;
}

#toolbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#PDFCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border: 1px solid #054f7c;
    margin: 0px auto;
    background: #fff;
}